:root {
    --dark-olive-green: #5F6F52;
    --cornsilk: #FEFAE0;
    --alloy-orange: #C4661F;
    --lemon-meringue: #F9EBC7;
    --camel: #B99470;
    --laurel-green: #A9B388;
    --russet: #783D19;
}



.footer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 16px;
}

.footer .footer-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ajuste para 4 colunas */
    gap: 16px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.footer .footer-section div {
    margin-bottom: 16px;
}

.footer h3 {
    font-weight: bold;
    margin-bottom: 8px;
}

.footer img {
    margin-bottom: 8px;
}

.footer .payment-methods img,
.footer .delivery-methods img {
    width: 50px;
    height: 30px;
    margin-right: 8px;
}

.footer .delivery-methods {
    display: flex;
    align-items: center;
}

.footer .delivery-methods img.delivery-truck {
    width: 30px;
    height: 30px;
}

.footer .text-center {
    text-align: center;
    font-size: 12px;
    color: #888888;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}



.map-container {
    width: 100%;
    height: 200px; 
}
