footer {
    padding: 2rem 5rem;
    background-color: #546022;
    text-align: start;
    color: #fff;
}.container-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.3rem;
}
.container-desc {
    width: 400px;
    min-width: 240px;
}.container-desc h3{
    font-family: "Montserrat", sans-serif;
}.container-desc p {
    color: #ccc;
    letter-spacing: .8px;
}

.container-details {
    display: flex;
    justify-content: space-between;
    padding-top: 1.3rem;
}.container-details span {
    color: rgb(255, 153, 0);
}.container-details h2 {
    color: #b4dd10;
}
.social {
    display: flex;
    gap: 1.4rem;
}.social i {
    font-size: 1.4rem;
}

