.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 3rem 0 3rem;
    max-height: 80px;
    border-bottom: 1px solid #707070;
}.img-logo {
    width: 100px;
}
.container-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}.form {
    display: flex;
    border: 1px solid #ccc;
    padding: .45rem 0.7rem;
    border-radius: 5px;
} input {
    border: none;
    font-size: .9rem;
    width: 100%;
}::placeholder {
    color: #546022;
    font-weight: 600;
}:focus {
    outline: none;
}
i {
    font-size: 1.3rem;
}.search-icon {
    font-size: 1rem;
}.icon-cart {
    color: #546022;
}
.sub-header {
    background-color: #546022;
    padding: 0 3rem; 
}.nav-sub-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem 2rem;
    gap: .5rem;
    color: #fff;
    font-weight: 300;
}

.container-image {
    background-image: url("/img/photo-café.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position-y: -130px;
    min-width: 1000px;
}.description {
    padding: 1rem;
    letter-spacing: 1px;
}.description p {
    width: 500px;
    margin-top: 2rem;
}
