:root {
    --dark-olive-green: #5F6F52;
    --laurel-green: #A9B388;
    --cornsilk: #FEFAE0;
    --lemon-meringue: #F9EBC7;
    --camel: #B99470;
    --alloy-orange: #C4661F;
    --brown: #783D19;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  html, body {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 62.5%;
  }
  
  .container {
    max-width: 45rem;
    border: 2px solid #c4661f;
    border-radius: 5px;
    padding: 3rem 4rem;
  }
  
  h1 {
    font-size: 3.6rem;
    text-align: center;
    font-weight: extrabold;
    text-transform: uppercase;
  }
  
  .input-container {
    position: relative;
    width: 100%;
    height: 5rem;
    margin: 3rem 0;
  }
  
  .input-container input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #546022;
    border-radius: 10px;
    font-size: 1.6rem;
    color: #000;
    padding: 20px 45px 20px 20px;
  }
  
  .input-container input::placeholder {
    color: #455804;
  }
  
  .input-container img {
    position: absolute;
    right: 24px;
    top: 20%;
    margin-top: 0.5rem;
  }
  
  .input-container a {
    font-size: 1.6rem;
    margin-top: 5rem;
    color: #455804;
    text-decoration: none;
  }
  
  .input-container a:hover {
    text-decoration: underline;
  }
  
  .submit-button {
    width: 100%;
    height: 5rem;
    background-color: #c4661f;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin-top: 2.4rem;
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
  }
  
  .submit-button:hover {
    opacity: 0.9
  }
  
  .register-link{
    text-align: center;
    margin: 2rem 0;
  }
  
  .register-link p {
    font-size: 1.6rem;
    color: #000;
    font-weight: normal;
  }
  
  .register-link a {
    font-size: 1.6rem;
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  
  .register-link a:hover{
    text-decoration: underline;
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 36rem;
    }
  }