:root {
    --dark-olive-green: #5F6F52;
    --cornsilk: #FEFAE0;
    --alloy-orange: #C4661F;
    --lemon-meringue: #F9EBC7;
    --camel: #5d4731;
    --laurel-green: #A9B388;
}

body {
    background-color: #FEFAE0; 
    color: #4A4A4A; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




section {
    max-width: 1200px;
    margin: 3rem auto;  
}

nav {
    background-color: #586148;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 16px;
    font-weight: 600;
    transition: color 0.3s;
}
nav a:hover {
    color: #FFCC00; /* Cor amarela */
}

.title-product {
    text-align: center;
    color: var(--camel);
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 350px;
    padding: 10px;
    cursor: pointer;
}

.description-product p {
    font-size: 1rem;
    text-align: left;
    width: 350px;
    font-family: "Roboto", system-ui;
    font-weight: 600;
}

.price {
    color: var(--camel);
    font-weight: bold;
}

.btn-buy {
    width: 100%;
    padding: .25rem .5rem;
    margin-top: .5rem;
    border: 0;
    background-color: rgb(236, 209, 101);
    color: var(--camel);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}



.btn-buy:hover {
    transform: scale(0.98);
    background-color: rgb(242, 202, 43);
}

#cereais {
    background-color: var(--bg-grao);
    margin: 0 auto;
}

.cereais-section {
    margin: 0 auto;
}

.title-product-grao {
    padding-top: 2rem;
    text-align: center;
    color: var(--camel);
}

.produtos {
    margin-bottom: 2rem;
}

.img-graos {
    width: 300px;
}

.btn-grao {
    color: var(--camel);
    background-color: var(--cornsilk);
}